.task{
    background-color: #f4f4f4;
    margin: 5px;
    padding: 5px 5px;
    cursor: pointer;
}

.task.reminder{
    border-left: 5px solid blue;
}

.task.formato{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
